{% extends 'layouts/base.html' %}
{% load static from staticfiles %}
{% load template_blocks %}
{% load slider_extras %}
{% load range %}
{% block content %}
<!-- style -->
<style type="text/css">
    
    #search_submit:hover{
        border:1px solid #fc3e00;
        color:#fc3e00;
        transition-duration:.9s;
    }

</style>
<!-- end style  -->

    <div class="container">
        <div class="col-md-8">
            {% for pattern_type in pattern_types %}
                <a href="/patterns/view_pattern_type/{{ pattern_type.pk }}">
                    <h3 style="text-align:center;">{{ pattern_type.name }}</h3>
                </a>

                <br>

                <div class="panel-group" id="accordion">
                {% for stage in pattern_type.patterntypestage_set.all %}
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{stage.pk}}">
                          {{stage.name}}
                          </a>
                        </h4>
                      </div>
                        {% if forloop.first %}
                            <div id="collapse{{stage.pk}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                            {% for pattern in stage.pattern_set.all %}
                                                    <div class="col-md-6">
                                                        {% if pattern.photo.image %}
                                                            <img src="{% resize pattern.photo.id 280 255 %}" 
                                                            style=" border-radius: 10px;padding:4px;">
                                                            <h5 style="text-align:center;">{{pattern.name}}</h5>
                                                        {% else%}
                                                            <img src="/static/imgs/norealimage.jpg">
                                                            <h5 style="text-align:center;">{{pattern.name}}</h5>
                                                        {% endif %}
                                                    </div>
                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div id="collapse{{stage.pk}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        {% for pattern in stage.pattern_set.all %}
                                                <div class="col-md-6">
                                                    {% if pattern.photo.image %}
                                                        <img src="{% resize pattern.photo.id 300 295 %}" 
                                                        style="padding: 4px">
                                                        {{pattern.name}}
                                                    {% else%}
                                                        <img src="/static/imgs/norealimage.jpg">
                                                        {{pattern.name}}
                                                    {% endif %}
                                                </div>
                                        {% endfor %}
                                    </div>
                                </div>
                              </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <hr>
            </div>
        {% endfor %}
        <div class="row">
        <div class="pagenaition">
                    {% if pattern_types.has_previous %}
                        <a href="?page={{ pattern_types.previous_page_number }}" class="start">السابق</a>
                    {% endif %}

                    {% for i in pattern_types.paginator.num_pages|range %}
                        <span>
        {% if pattern_types.number == i %}
            <a href="?page={{ i }}" class="num-page active"
               style="">{{ i }}</a>
        {% else %}
            <a href="?page={{ i }}" class="num-page">{{ i }}</a>
        {% endif %}
      </span>&nbsp;
                    {% endfor %}


                    {% if pattern_types.has_next %}
                        <a href="?page={{ pattern_types.next_page_number }}" class="end">التالي</a>
                    {% endif %}
                    <br>
    <span class="step-links">
        <span class="current" style="float:left; color:white;">
            الصفحة {{ pattern_types.number }} من {{ pattern_types.paginator.num_pages }}
        </span>
        <br>
    </span>
                </div>
                <!-- pajenaition -->
        </div>
        </div> <!-- class col-md-8 -->





        <!-- class col-md-4 -->
        <div class="col-md-4">
        
                <form class="form-search" id="search" method="GET" action="{% url 'search_patterns' %}" style="border-top:2px solid #fc3e00;padding-bottom: 47px !important;">

                        <p><img src="{% static 'imgs/search.png' %}" width="20px"/>بحث في انواع النماذج </p>

                        <div class="row" style="width:96%;">
                            <div class="col-md-3 pull-right">
                                <center style="position: relative; top: 5px;">المرحلة</center>
                            </div>

                            <div class="col-md-9">
                                <input type="text" style="width: 100%;" name="stage" placeholder="أسم المرحلة">
                            </div>
                        </div><!-- row -->

                        <br/>

                        <div class="row" style="width:96%;">

                            <div class="col-md-3 pull-right">  
                                <center style="position: relative; top: 5px;">النوع</center>
                            </div>

                            <div class="col-md-9">
                                <select name="type">
                                    <option value="">نوع النموذج</option>
                                    {% for type in types %}
                                        <option value="{{ type.name }}">{{ type.name }}</option>
                                    {% endfor %}

                                </select>
                            </div> <!-- col-md-9 -->

                        </div><!-- row -->


                        <br/>

                        <button class="btn btn-dafault submit" id="search_submit">ابحث</button>

                </form>

                <br/>
                <div class="advirisment" style="border:1px solid #d4d3d3;">
                    <p class="search-project-title">
                    <span style="background-color:#d03603;">
                       <!--  <img src="{% static 'imgs/tr.jpg' %}"
                             style="position: relative; left: -182px; top: -2px; width: 40.5px"> -->
                        <span class="cerve"></span>
                        <img src="{% static 'imgs/magnifying.png' %}" width="18px">
                        <span class="num_visited" style="background-color: #d03603">اعلان</span>
                   </span>
                    </p>


                    <img src="{% static 'imgs/coca.jpg' %}" width="100%" height="400px">

                </div>
        </div> <!-- col-md-4 -->
</div>

{% endblock %}
