{% extends 'layouts/base.html' %}
{% load static from staticfiles %}
{% load slider_extras %}
{% block content %}
<style type="text/css">
  div.active{
    background: #fff !important;
  }
  li.active a{
    background: #fff !important;
    border-bottom: 2px solid #FC3E00 !important;
    color: #FC3E00 !important;
  }
</style>

<div class="container" dir="rtl" style="width: 100%; position: relative; right: -2px">
  <div class="row">
    <div class="col-md-8">
      <div class="img-map" style="border: 1px solid silver;
        padding-bottom: 8px;
        margin-bottom: 24px !important;">
                <p class="search-project-title">
                  <span style="background-color:#d03603;">
                 <!--  <img src="{% static 'imgs/tr.jpg' %}" style="position: relative; left: -254px; top: -2.0px; width: 41.0px"> -->
                    <span class="cerve"></span>
                    <img width="18px" src="{% static 'imgs/map.png' %}">
                    <span class="num_visited" style="background-color: #d03603">{{pattern_type.name}}</span>
                  </span>
                </p>
                
        <ul class="list-unstyled list-inline">
          {% for stage in pattern_type.patterntypestage_set.all %}
            {% if forloop.counter == 1 %}
              <li class="active">
                <a data-toggle="tab" href="#tab-pane{{stage.pk}}">{{stage.name}}</a>
              </li>
            {% else %}
              <li>
                <a data-toggle="tab" href="#tab-pane{{stage.pk}}">{{stage.name}}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <div class="tab-content">
          {% for stage in pattern_type.patterntypestage_set.all %}
            <div id="tab-pane{{stage.pk}}" class="tab-pane fade in
              {% if forloop.counter == 1 %}active{% endif %}">
               {% for pattern in stage.pattern_set.all %}
                <div class="col-md-6">
                  {% if pattern.photo.image %}
                                <img src="{% resize pattern.photo.id 250 195 %}" 
                                style=" border-radius: 10px;padding:17px;" class="pop imageresource" 
                                data-target="#imagemodal" data-toggle="modal">
                            {% else%}
                                <img src="/static/imgs/norealimage.jpg" width="250" height="230"
                                style=" border-radius: 10px;padding:17px;">
                            {% endif %}
                            <center>
                              <a href="/patterns/view_pattern/{{pattern.pk}}">
                      <h5 style="margin-left:38px;">{{pattern.name}}</h5>
                    </a>
                  </center>
                </div>
               {% endfor %}
            </div>              
          {% endfor %}
        </div>
      </div>
    </div> <!-- col-md-8 -->

    <div class="col-md-4">

      <div class="maps-all" style="border:1px solid #cccccc;">
        <p class="search-project-title">
          <span style="background-color:#d03603;">
         <!--    <img src="{% static 'imgs/tr.jpg' %}" style="position: relative; left: -182px; top: -2px; width: 40.5px"> -->
            <span class="cerve"></span>
            <img width="18px" src="{% static 'imgs/map.png' %}">
            <span class="num_visited" style="background-color: #d03603">النماذج</span>
          </span>
        </p>
        <div class="maps-rahab">
          {% for pattern_type in pattern_types %}
            <div style="padding:10px;">
              <a href="/patterns/view_pattern_type/{{pattern_type.pk}}"
              style="color:rgba(0, 0, 0, 0.87); font-size:16px;">
              {{pattern_type.name}}</a>
            </div>
          {% endfor %}
        </div>
      </div><!-- maps-all -->

      <br/>
      <br/>
        <div class="advirisment" style="border:1px solid #d4d3d3;">
            <p class="search-project-title">
            <span style="background-color:#d03603;">
               <!--  <img src="{% static 'imgs/tr.jpg' %}"
                     style="position: relative; left: -182px; top: -2px; width: 40.5px"> -->
                <span class="cerve"></span>
                <img src="{% static 'imgs/magnifying.png' %}" width="18px">
                <span class="num_visited" style="background-color: #d03603">اعلان</span>
           </span>
            </p>


            <img src="{% static 'imgs/coca.jpg' %}" width="100%" height="450px">

        </div>
    </div> <!-- col-md-4 -->
  </div><!-- row -->

  <br/>
</div> <!-- end container -->
{% endblock %}