{% load static from staticfiles %}
{% load template_blocks %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
{% comment %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
{% endcomment %}
    <link rel="icon" type="image/png" href="imgs/home.png">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'bootstrap-4/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slider-pro.min.css' %}" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/examples.css' %}" media="screen"/>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.sliderPro.min.js' %}"></script>
    <!-- start of menu -->
    <!--- Component CSS -->
    <!--- Component JS -->
    <script type="text/javascript" src="{% static 'bootstrap-rating/bootstrap-rating.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-rating/bootstrap-rating.css' %}"/>
        <style>
            {% block style %}{% endblock %}
        </style>
    <!-- end of menu -->
    <script type="text/javascript">
    // tb3 slider
        $( document ).ready(function( $ ) {
            $( '#example3' ).sliderPro({
              width: 960,
              height: 500,
              fade: true,
              arrows: true,
              buttons: false,
              fullScreen: true,
              shuffle: true,
              smallSize: 500,
              mediumSize: 1000,
              largeSize: 3000,
              thumbnailArrows: true,
              autoplay: false
            });
        });
    </script>
    <!-- statistics -->
    <script type="text/javascript">
        $(document).ready(function(){
            $("#madenty_click").click(function(e){
                    $("#rahab").fadeOut(0000);
                    $("#madenty").fadeIn(1000);
                    $("#madenty_click").css({"background-color":"#fc3e00" ,"color" : "#fff" });
                    $("#rahab_click").css({"background-color":"#fff" ,"color" : "#fc3e00" ,"border" : "1px solid #fc3e00", "padding-left" : "53px" , "padding-bottom" : "8px"});
                });

            $("#rahab_click").click(function(e){
                $("#madenty").fadeOut(0000);
                $("#rahab").fadeIn(1000);
                $("#rahab_click").css({"background-color":"#fc3e00" ,"color" : "#fff" });
                $("#madenty_click").css({"background-color":"#fff" ,"color" : "#fc3e00" ,"border" : "1px solid #fc3e00",});
            });
        });

    </script>
    <!-- navbar -->
    <style>
        .nav-scroll-fixed{
            display: block;
            position: relative;top: -10px;
        }

    </style>
    <script>
        $(document).scroll(function(){
           if($(document).scrollTop() >= 370){
               $('#hidden').addClass('nav-scroll-fixed');
          $('#hidden').fadeIn(1000);

           }else{
               $('#hidden').fadeOut(1000);
           }
        });
    </script>
    <style type="text/css">
	    #nav-2{background: none; color:#fff;  transition: background 0.9s ease 0s;}
	    #nav-2:hover{background-color: #fc3e00; transition-duration:.9s;}
	    .active{background-color: #fc3e00!important}
	    .navbar-static-top img{margin-left:200px;position: relative; top: 10.4px}
	    .navbar-static-top{background-color:#252525; display:none; position:fixed; z-index:999; width:100%; transition: background 0.8s ease 0s; padding-bottom:10px; }
    </style>

</head>
<body style="direction:rtl; font-family:tahoma;" >
{% view "others.views.navbar" %}
{% block content %}{% endblock %}
{% view "realties.views.footer_entries" %}
{% block scripts %}{% endblock %}
{% view "others.views.footer" %}
</body>
</html>