{% extends 'layouts/base.html' %}
{% load static from staticfiles %}
{% load range %}
{% load slider_extras %}
{% load template_blocks %}
{% load priceFilter %}
{% load remove_dots %}
{% block content %}
<div class="container" style="width: 100%; position: relative; right: -2px;">
	<div class="col-md-8">
		<div class="row">
			<div class="search-project">
				<p class="search-project-title">
				  	<span style=" background-color: rgb(208, 54, 3);">
				  
				      	<span class="cerve"></span>
				     	<img width="18px" src="/static/imgs/search.png">
				      	<span class="num_visited" style="background-color: #d03603">مدينة {{city.name}}</span>
              
				   	</span>
				</p>


				<div class="row">
					<form method="POST" action="">
					{% csrf_token %}
					<div class="search-all">
							<div class="col-md-6 pull-right">
								<select style="width:99%; padding:5px 20px;" name="type">
                                  <option value="">كافة الأنواع</option>
                                    {% for type in types %}
                                        <option value="{{ type.name }}">{{ type.name }}</option>
                                    {% endfor %}    
                                </select>
							</div>
							    
							 <div class="col-md-6">

                                <div class="col-sm-6">
                                    <a class = "pull-left reset" style = "color: #fc3e00; padding:4px 12px; position:relative; top:-1px; right:-29px;"
                                    href="/realties/view_city/{{city.pk}}">عرض الكل</a>
                                </div>

                                <div class="col-sm-6">
                                    <input class = "pull-left reset" style = "color: #fc3e00; padding:8px 18px; position:relative; top:-3px;" type="submit" value="بحث">
                                </div>
							</div>
					</div>
					</form>
				</div>
</div> <!-- search-project -->
</div><!-- row -->


<br/>
<!-- -------- search-project -->



<div class="row" id="row-search">
	<p class="search-project-title" style="background-color: #d03603;">
  		<span style="background:none;">تم العثور علي عدد ({{realties|length}}) بحث لمدينه {{city.name}}</span>
 	</p>


<div class="row" style="padding-bottom:10px;">
                    {% for realty in realties %}
                        <div class="col-md-4">
                            <div class="title">
                                <div class="wrapper">
                                    <a href="/realties/show/{{ realty.id }}">
                                        {% if realty.photo.image %}
                                            <img src="{% resize realty.photo.id 1200 545 %}"
                                             style=" border-radius: 10px;"></a><br/>
                                        {% else %}
                                            <img src="/static/imgs/norealimage.jpg"></a><br/>
                                        {% endif %}
                                    <a href="/realties/show/{{ realty.id }}">
                                        <div class="content">
                                            <div class="text_area">
                                                <img src="{% static 'imgs/link21.png' %}"
                                                     style="width:15px!important; position:relative; top:70px;">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <span class="code-text-with-pic">كود :{{ realty.code }}</span>

                                <p class="title-pic-text">
                                    <a href="/realties/show/{{ realty.id }}" style="color:#404040;">
                                        {{ realty.title|truncatewords:6|remove_dots:"..."|safe }}
                                    </a>
                                </p>

                                <p>
                                        <span style="color:#fc3e00;">
                                            <img src="{% static 'imgs/clock.png' %}" width="20px">
                                            نوفمبر 2015
                                        </span>
                                        <span class="pull-left">
                                            {{ realty.price|amountFilter }}
                                        </span>
                                </p>
                                <!-- <p class="text-pic-text pull-right"> -->
                                    {# realty.description|truncatewords:7|remove_dots:"..."|safe #}
                                <!-- </p> -->

                                <p class="text-pic-text pull-right">
                                    <a href="/realties/show/{{ realty.id }}">المزيد</a>
                                </p>

                            </div>
                            <!-- title -->
                        </div><!-- col-md-4 -->
                    {% endfor %}
                </div>




		<div class="pagenaition">
		  {% if realties.has_previous %}
		      <a href="?page={{ realties.previous_page_number }}" class="start">السابق</a>
		  {% endif %}

		  {% for i in realties.paginator.num_pages|range %}
		      <span>
		        {% if realties.number == i %}
		          <a href="?page={{i}}"class="num-page active"
		          style="">{{i}}</a>
		        {% else %}
		          <a href="?page={{i}}"class="num-page">{{i}}</a>
		        {% endif %}
		      </span>&nbsp;
		  {% endfor %}


		  {% if realties.has_next %}
		      <a href="?page={{ realties.next_page_number }}" class="end">التالي</a>
		  {% endif %}
		    <br>
		    <span class="step-links">
		        <span class="current" style="float:left; color:white;">
		            الصفحة {{ realties.number }} من {{ realties.paginator.num_pages }}
		        </span>
		        <br>
		    </span>
        </div><!-- pajenaition -->
</div><!-- row -->
</div><!-- col-md-8 -->


<div class="col-md-4">
    {% view "realties.views.search_view" %}
    <br/>
    <div class="advirisment" style="border:1px solid #d4d3d3;">
        <p class="search-project-title">
        <span style="background-color:#d03603;">
           <!--  <img src="{% static 'imgs/tr.jpg' %}"
                 style="position: relative; left: -182px; top: -2px; width: 40.5px"> -->
            <span class="cerve"></span>
            <img src="{% static 'imgs/magnifying.png' %}" width="18px">
            <span class="num_visited" style="background-color: #d03603">اعلان</span>
       </span>
        </p>


        <img src="{% static 'imgs/adver2.jpg' %}" width="100%" height="450px">

    </div>
</div>

</div>
{% endblock %}