{% load static from staticfiles %}
<!-- first header -->
<div class="row" style="border-bottom: 1px solid #cecece; background-color:#efefef; padding-right: 36px">
    <div class="navbar-header" style="float: right">
      <a class="navbar-brand" href="#"> 
        <span class="header-week" style = "font-size:15px;">عاجل</span>
        {% for urgent in urgents %}
          <rec class ="allUrgents">{{urgent.title}}</rec>
        {% endfor %}
          <span class="header-new show_urgent"></span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul style="float: left; margin-left: 52px; margin-top: 14px" class="list-inline">
        <!-- <li><a href="#" style="color: #292929;background:none;">تسجيل الدخول</a></li> -->
        <!-- <li><a href="#" style="color: #292929;background:none;">اتصل بنا</a></li> -->
      </ul>
    </div> <!-- row -->
    

 <br/>


<!-- second header with logo -->
<div class="row" style="position: relative; top: 18px">
    <div class="col-md-4" style="float: right">
          <a href="/">
            <img width="44%" src="{% static 'imgs/logo.jpeg' %}" class="logo">
          </a>
    </div>       
        <div class="col-md-8">
            <a href="#"id="pic">
                <img width="93%" height="65%" src="{% static 'imgs/ad1.jpg'%}" >
            </a>
            <div style="position: relative; top: 6px" class="row">
                
                <form style="position: relative; top: 10px; padding-bottom: 16px" class="col-md-6"
                  method="POST" action="/realties/search_result/">
                  {% csrf_token %}
                  <input type="text" style="border: 1px solid silver; padding: 6.5px 18px; border-radius: 2px; position: relative; top: 9px" placeholder="اكتب الكود" name="code"><button 
                  style="position:relative; top:7px ; padding: 7px 12px" type="submit" class="btn btn-default" 
                  id="form-submit">ابحث</button>
              </form>

                <div style="position: relative; top: 10px; margin-bottom: 39px" class="col-md-6">
                <img src="{% static 'imgs/call.png'%}" class="phone">
                    <span style="color:#7c7c7c;padding: 10px">رقم التليفون</span><br>
                  <span style="position: relative; right: 41px" class="num-header">01111167456</span>
                </div>
            </div><!-- row -->
        </div> <!-- 11wide column -->

    </div><!-- grid -->
</div><!-- row -->

<br/>

<!-- menu -->

<nav class="navbar navbar-default" style="background-color:#2f3234;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li><a href="{% url 'contact_us' %}">أتصل بنا</a></li>
        <li><a href="{% url 'about_us' %}">من نحن</a></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">نماذج<span class="caret"></span></a>
          <ul class="dropdown-menu" style="background-color:#2f3234;">
          {% for type in patternTypes %}
            <li><a href="/patterns/view_pattern_type/{{type.pk}}/">{{type.name}}</a></li>
          {% endfor %}
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">خرائط <span class="caret"></span></a>
          <ul class="dropdown-menu" style="background-color:#2f3234;">
          {% for maptype in maptypes %}
            <li><a href="/maps/view_maptype/{{maptype.pk}}">{{maptype.name}}</a></li>
          {% endfor %}
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
          aria-expanded="false">مدن اخري <span class="caret"></span></a>
          <ul class="dropdown-menu" style="background-color:#2f3234;">
          {% for city in all_cities_list %}
            <li>
              <a href="/realties/view_city/{{city.pk}}/">{{city.name}}</a>
            </li>
          {% endfor %}
          </ul>
        </li>
        {% for city in navbarCities %}
            <li><a href="/realties/view_city/{{city.pk}}/">{{city.name}}</a></li>
        {% endfor %}
        <li class="active"><a href="/" style="background-color:#fc3e00;">الرئيسيه <span class="sr-only">(current)</span></a></li>
        
      </ul>
     
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


      <style>
        .nav-scroll-fixed{
            z-index: 999;
            position: fixed;
            width: 100%;
            top: -5px!important
        }
        .navbar-default ul li a{color: #fff!important; float: right}
        .navbar-default ul li a:hover{color: #de3b05!important}
        .navbar-default ul li.active{background-color: #fc3e00!important}
      </style>

      <script>

      $(document).scroll(function(){
         if($(document).scrollTop() >= 290){
             $('.navbar-default').addClass('nav-scroll-fixed');

         }else{
             $('.navbar-default').removeClass('nav-scroll-fixed');
         }
      });

      </script>


<script>
  $(document).ready(function(){
    $('.allUrgents').hide();

    var index = 0;
    var total = $('rec').size() - 1;

    setInterval(function(){
        
        var show_urgent = $('rec:eq(' + index + ')');
        $('span.show_urgent').html(show_urgent.text()).fadeIn("slow");
        
        if(index == total){
            index = 0;
        } else {
            index++;
        }
        
    }, 2000);
  });
</script>