{% load static from staticfiles %}
<img src="{% static 'imgs/footer_tops.png' %}" width="100%">
<footer style="background-color:#252525;">
    <div class="row" style="padding: 20px">
      
        <div class="col-md-2" style="background-color:#252525">
          <p>
            <img src="{% static 'imgs/right.png' %}" width="13px">
            <span class="footer-title">اتصل بنا </span>
          </p>
          <a href="#"><img width="40px" src="{% static 'imgs/FB.png' %}" style="transform:rotate(360deg); margin:1px;"></a>
          <a href="#"><img width="30px" src="{% static 'imgs/G.png' %}" style="transform:rotate(360deg); margin:1px;"></a>
          <a href="#"><img width="33px" src="{% static 'imgs/Tw.png' %}" style="transform:rotate(360deg); margin:1px;"></a>
          <a href="#"><img width="34px" height="30px" src="{% static 'imgs/YO.png' %}" style="transform:rotate(360deg); margin:1px;"></a>

        </div><!-- col-md-3 -->

        <div class="col-md-2">
            <p>
              <img src="{% static 'imgs/right.png' %}" width="13px">
              <span class="footer-title">أقسام الموقع</span>
            </p>
            <div>
              <img src="{% static 'imgs/anchor.png' %}" width="5px" class="list-unstyled">
              <a href="/realties/list_realties/" class="footer-links">العقارات</a>
            </div>
            <div>
              <img src="{% static 'imgs/anchor.png' %}" width="5px" class="list-unstyled">
              <a href="/patterns/list_pattern_types" class="footer-links">النماذج</a>
            </div>
            <div>
              <img src="{% static 'imgs/anchor.png' %}" width="5px" class="list-unstyled">
              <a href="/maps/all_maps" class="footer-links">الخرائط</a>
            </div>
        </div>

        
        <div class="col-md-8" style="background-color:#252525">
              <div class="row" style="float:right;" dir="rtl">
        {% for entry in entries %}
                        <div class="col-sm-3" style="float:right;">
                            <img src="{% static 'imgs/anchor.png' %}" width="5px" class="list-unstyled">
                            <a href="/realties/view_entry/{{entry.pk}}" class="footer-links">{{entry}}</a>
                        </div>
        {% endfor %}
              </div>
        </div><!-- col-md-7 -->

    </div><!-- row -->
<p style="color:#fff;padding:10px 26px; background-color:#171717;">اتصلوا بنا علي <span style="color:#fc3e00;">0111115678</span>
<span class="pull-left">Made by <a href="#" style="color:#fc3e00;">Marvelserv</a></span>
</p>

</footer>

<style>
    
.footer-links {color:#fff!important; padding-right:10px!important;transition: color 1s ease 0s; }
.footer-links:hover {color:#fc3e00!important;transition-duration: 5s;transition: color   1s ease 0s; }

</style>