{% load static from staticfiles %}


<style type="text/css">
	
	#search_submit:hover{
		border:1px solid #fc3e00;
		color:#fc3e00;
	 	transition-duration:.9s;
	}

</style>

<form class="form-search" id="adv-search" method="post" action="{% url 'adv_search_realty' %}" style="border-top:2px solid #fc3e00;padding-bottom: 47px !important;">
{% csrf_token %}

		<p><img src="{% static 'imgs/search.png' %}" width="20px"/>بحث عن عقارات </p>

		<div class="row" style="width:96%;">

			<div class="col-md-3 pull-right">  
				<center style="position: relative; top: 5px;"> نموذج</center>
			</div>

			<div class="col-md-9">
			    <input type="text" style="width: 100%;" name="pattern" placeholder="أسم النموذج">
			</div> <!-- col-md-9 -->

		</div><!-- row -->

		<br/>

		<div class="row" style="width:96%;">
			<div class="col-md-3 pull-right">
				<center style="position: relative; top: 5px;"> المساحه</center>
			</div>

			<div class="col-md-9">
				<input type="number" placeholder="من" style="width: 48.5%;padding: 8px" name="fromSize"/>
				<input type="number" placeholder="الي" style="width: 48.5%;padding: 8px" name="toSize"/>
			</div>
		</div><!-- row -->

		<br/>

		<div class="row" style="width:96%;">
			<div class="col-md-3 pull-right">
				<center style="position: relative; top: 5px;">السعر</center>
			</div>

			<div class="col-md-9">
				<input type="number" placeholder="من" style="width: 48.5%;padding: 8px" name="fromPrice"/>
				<input type="number" placeholder="الي" style="width: 48.5%;padding: 8px" name="toPrice"/>
			</div>
		</div><!-- row -->

		<br/>

		<div class="row" style="width:96%;">
			<div class="col-md-3 pull-right">
				<center style="position: relative; top: 5px;">التشطيب</center>
			</div>

			<div class="col-md-9">
				<input type="radio" style="margin-left:15px!important;" value="1" name="finishing"/>
				<span>نعم</span>
				<input type="radio" style="margin-left:15px!important;" value="0" name="finishing"/>
				<span>لا</span>
			</div>
		</div><!-- row -->

		<br/>

		<div class="row" style="width:96%;">

			<div class="col-md-3 pull-right">  
				<center style="position: relative; top: 5px;"> المراحل</center>
			</div>

			<div class="col-md-9">
				<input type="text" style="width: 100%;" name="stage" placeholder="المراحل">
			</div> <!-- col-md-8 -->

		</div><!-- row -->

		<br/>

		<button class="btn btn-dafault submit" id="search_submit">ابحث</button>

</form>
