

@media only screen and (max-width: 2500px) {
     .form{
      right: -122px!important }
      #form-submit{position: relative;top: -10px}
}
body{font-family:tahoma; direction:rtl;}

  .header-login{border-bottom: 1px solid #cecece; padding: 7px 35px;  }
  .header-week{background-color:#fc3e00;border-radius: 2px;color: #fff; padding: 5px 9px; font-size: 12px;    }
  .header-new{position: relative; right: 12px; font-size:15px;color: #292929}
  a{text-decoration:none;}
  .left-header{float: left}
  .left-header span a{font-size: 13px; color:#292929 !important;padding-left: 10px; padding-right:10px;}
  .logo{position: relative; right: 48px;}
  #search-header{position: relative; top: 75px}
  .code-search{background-color: #cecdcc;
    border-radius: 1px;
    font-size: 13px;
    padding: 9px 13px;
    position: relative;
    right: 6px;
    top: 1.9px;  }
#form-submit{background-color: #fc3e00;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    font-size: 12.5px;
    left: 12px;
    padding: 8px 22px;
    position: relative; transition: background-color 1s ease 0s; }
    #form-submit:hover{transition-duration: 5s;
  transition: background-color   1s ease 0s; background-color: #d33b0a}
    .navbar-brand{float:right;}
    .navbar-toggle{float:right;}
    .navbar-header{float:right;}
    .num-header{position: relative; right: 29px; color:#b1b1b1;}
    .phone{position: relative; top: 7px}
    .form-control{padding-left: 56px}
    #menu{background-color: #2f3234;padding: 8px 5px}
    .navbar ul li{list-style: none; float: left; }
    .navbar ul{ float: right}

    .navbar ul li a{text-decoration: none;}
#container-fluid{border-radius: 1px; font-family:tahoma;padding-right: 18px}
#container-fluid a.item{padding: 18px 19px !important}
#container-fluid{border-bottom: 1px solid #fc3e00}

#inverted a.item.active{background-color:#fc3e00;border-radius: 1px }
 .flex-caption {
      width: 96%;
      padding: 2%;
      left: 0;
      bottom: 0;
      background: rgba(0,0,0,.5);
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0,0,0,.3);
      font-size: 14px;
      line-height: 18px;
    }
    .sp-slide p {line-height: 30px !important;position:absolute; padding:0px 20px !important;}
    .sp-slide p img{margin-left: 9px!important}
    .sp-slide p span.{line-height: 30px;position:absolute;}
    .sp-slide p span.title-pic{color:#dedede; font-family:tahoma ;font-size: 16px}
.add-compare{font-family:tahoma; background-color:#fc3e00; opacity:.6;padding: 4px 14px; border-radius: 2px;position: relative; left: 22px ; top: -10px}
.text-pic{font-family: tahoma; font-size: 13px}
.form-search{padding: 10px; background-color: #e7e7e7;border-top:2px solid #fc3e00;padding-bottom: 36px!important;border: 1px solid #cccccc}
.form-search p{padding: 15px 11px;
background-color: #D2D2D2;
color: #303030;
width: 106%;
position: relative;
right: -11px;
top: -9px;}
.form-search span{color: #303030}
.reset{color: #fc3e00; border: 1px solid #fc3e00; font-size: 13px; padding:5px 8px;left: 26px;position: relative; top: -25px   }
.reset{transition: background 1s ease 0s;}

button.reset{color: #fc3e00; border: 1px solid #fc3e00;background-color: #fff; font-size: 11px; padding:5px 8px;left: 26px;position: relative; top: -25px   }
button.reset{transition: background 1s ease 0s;}

button.reset2{color: #fc3e00; border: 1px solid #fc3e00; font-size: 13px; padding:5px 8px;left: 26px;position: relative; top: -25px   }
button.reset2{transition: background 1s ease 0s;}


.search-click{color: #fff; background-color:#fc3e00; font-size: 13px; padding:7px 14px; border-radius: 2px;transition: background-color 1s ease 0s;}
.search-click:hover{transition-duration: 5s;
  transition: background-color   1s ease 0s; background-color: #d33b0a}

.form-search input{border: none; border:1px solid silver; padding: 8px 35px; position: relative; left: -13px}
.form-search img{margin-left: 10px}
.form-search .price{position: relative;top: -10px}
.adver-pic{position: relative;left: 12px}
#example3{ border: 1px solid silver; padding: 6px}
.search-project{border:1px solid silver;}
.search-project-title{border: 1px solid silver; padding: 10px 11px;border-bottom: 1px solid #fc3e00;color:#fff; border-left:none; border-right:none; border-top:none;}
.search-project-title span{background-color:#fc3e00; color:#fff;padding:12px 29px;position:relative; right:-12px;}
.search-project-title img{position: relative; left: 68px}
.cerve{background-color: #bd3407!important; position: relative; right: -29px!important}
/*.img-cerve{position: relative; right: -31px;top: -13px;  transform: rotate(36deg); height: 52px}*/
.search-all select{padding: 5px 50px; border: none; border:1px solid silver;margin-right: 10px}
.search-all {padding:10px; padding-bottom:45px;}
.code-text-with-pic{position: relative; top: -154px; color: #fff; background-color: #000; padding: 5px 10px; opacity: .7; border-radius: 4px}
.title-pic-text{color:#404040;padding-top: 10px; margin-top: -18px}
.add_compare{padding: 5px 10px; font-size: 12px; position: relative; top: -4px; border-radius: 3px;transition: background-color 1s ease 0s;}
.add_compare:hover{transition-duration: 5s;
  transition: background-color   1s ease 0s; background-color: #d33b0a}
.text-pic-text{color:#686868; font-size:14px;}
.circle{   background-color: #fc3e00;
    border-radius: 10px;
    height: 7px;
    position: relative;
    right: -7.5px;
    top: 16px;
    width: 6px;}
    .pagenaition{background-color: #d03603; padding: 10px; width: 102.5% ; position: relative; left: 10px; top: 11px}
    .pagenaition a.start{color: #fff;padding: 11px 14px; border-left: 1px solid #d33b0a;  transition: background 0.9s ease 0s;}
    .pagenaition a.end{color: #fff;padding: 11px 14px; border-right: 1px solid #d33b0a; border-left: none;position: relative; left: -19px;  transition: background 0.9s ease 0s;}
    .pagenaition a{color: #fff;padding: 2px 12px; border-left: 1px solid #d33b0a;  transition: background 0.9s ease 0s;}
.pagenaition a:hover{background-color: #fc3e00; transition-duration:.9s;color:#fff !important;}
.reset:hover{background-color: #fc3e00; color: #fff !important;
  transition-duration: 5s;
  transition: background 1s ease 0s;}

button.reset:hover{background-color: #fc3e00; color: #fff !important;
  transition-duration: 5s;
  transition: background 1s ease 0s;}

#row-search{border:1px solid silver; padding:20px;}
.col-md-4{padding-bottom:10px;}
.project-num{padding: 3px 10px; color: #a5a4a4}
.project-adress{padding:16px;color:#5d5d5d;transition: color 0.9s ease 0s;}
.project-adress:hover{ transition-duration: 5s;
  transition: color 1s ease 0s; color:#fc3e00;}
.statistics-rahab{background-color:#fc3e00; color:#fff; padding:10px 46px;}
.statistics-madinty{color:#fc3e00; padding:9px 33px;border: 1px solid #fc3300;}
.text-statics-rahab{width:99.5%; border:1px solid #e4e3e3;padding:5px; padding-bottom: 11px; border-radius: 1px}
  .visitors{border:1px solid #d4d3d3;}
.num_visited{padding:10px;position: relative; right: -32px !important;}
.advertising{padding:10px;position: relative; right: -32px !important}
footer{background-color: red}
footer ul li img{transform: rotate(180deg);position: relative; right: -16px}
footer img{transform: rotate(180deg);}

  footer ul{list-style:none;position: relative; right: -21px; line-height: 30px}
footer ul li a{text-decoration:none;color:#fff;}
.footer-title{color:#f14007; padding: 13px;}
.col-md-3{margin-bottom:20px !important;}

.veiw-title{color:#fc3e00;font-size: 16px}
.veiw-title span{color:#737373;padding: 12px}
.title-veiw-head{color:#626262; font-size: 17px}
.veiw-text{color: #888888; }
.veiw-code{padding: 13px 28px; background-color: #fc3e00; color: #fff; border-radius: 2px}
.cerve{background-color: #bd3407!important; position: relative; right: -29px!important}
.code-text-with-pic{position: relative; top: -154px; color: #fff; background-color: #000; padding: 5px 10px; opacity: .7; border-radius: 4px}
.title-pic-text{color:#404040;padding-top: 10px; margin-top: -18px}
.add_compare{ padding: 5px 10px; font-size: 12px; position: relative; top: -4px; border-radius: 3px;transition: background-color 1s ease 0s;color: rgb(252, 62, 0);
border: 1px solid rgb(252, 62, 0);}
.text-pic-text{color:#686868; font-size:14px;}

.add_compare:hover{transition-duration: 5s;
  transition: background-color   1s ease 0s; color:#fff;}
.text-pic-text{color:#686868; font-size:14px;}
.circle{   background-color: #fc3e00;
    border-radius: 10px;
    height: 7px;
    position: relative;
    right: -7.5px;
    top: 16px;
    width: 6px;}
    #row-veiw{border-right: 1px solid silver;border-left:1px solid silver; border-bottom:1px solid silver; padding: 20px 2px; width: 100%; position: relative; right: 15px; top: -10px}
        .navbar-brand{float:right;}

.map-title{font-size: 18px; color: #555555}
.map-title-text a{color: #b8b7b7; padding:10px;}
.map-title-text {line-height: 24px;position: relative; top: -9px}
.maps-madenty{padding: 10px; margin-top: -20px}
.maps-rahab{padding: 10px; margin-top: -13px}
.1_rahab{color:#fc3e00!important;}
.list-inline li a{color: #fff; background-color: #fc3e00; padding: 8px 27px; border-radius: 2px}
.levels-namazg{border: 1px solid #cccccc;}
.namazg-list-levels{padding: 12px!important}
.code-text-with-pic{position: relative; top: -154px; color: #fff; background-color: #000; padding: 5px 10px; opacity: .7; border-radius: 4px}
.title-pic-text{color:#404040;padding-top: 10px; margin-top: -18px}
.add_compare{ padding: 5px 10px; font-size: 12px; position: relative; top: -4px; border-radius: 3px;transition: background-color 1s ease 0s;}
.add_compare:hover{transition-duration: 5s;
  transition: background-color   1s ease 0s; background-color: #d33b0a}
.text-pic-text{color:#686868; font-size:14px;}
.namazg-list-group{border: 1px solid #cccccc; }
.title-levels-group{ padding:12px;}
.levels-title{font-size: 16px; color: #555555}
.levels-titles{padding: 10px}
.levels-titles p a{color: #838383}
.levels-active{color: #fc3e00;background-color: #fff; border-bottom:3px solid; padding-bottom: 16px}
.active-namazg{color:#fc3e00;}
  #nav-2{background: none; color:#fff;  transition: background 0.9s ease 0s;
}
#nav-2:hover{background-color: #fc3e00; transition-duration:.9s;}
.active{background-color: #fc3e00!important}
 .navbar-static-top img{margin-left:200px;position: relative; top: 10.4px}
  .navbar-static-top{background-color:#252525; display:none; position:fixed; z-index:999; width:100%; transition: background 0.8s ease 0s; padding-bottom:10px; }
  #name-call{color: #fc3e00}
  .call-title{padding:10px 10px; background-color:#e1e1e1; color:#717171; border:1px solid silver;}
  .call-info{border:1px solid #e1e1e1;}


.wrapper{width: 100% ; height: 180px; float: right;margin-left:20px; 
    overflow: hidden;
 }
.wrapper img{width: 100% ; height: 100% ; transition : transform 300ms;}
.content{background: #000; width: 100% ; height:300px ; opacity: .7 ; transition :transform 500ms;}
.wrapper:hover .content{transform:translatey(-180px);}
.text_area{color: #fff ; font-size: 13px; text-align: center; padding: 10px;}
.wrapper:hover img{transform: scale(1.3,1.3) 


/*dropdown*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
/*    a #maps-background:hover{background-color: #fc3e00!important}*/
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
    .nav {
  padding: 11px;position: relative; z-index: 999; background-color:#252525 ;
}
.nav ul {
position: relative; top: 6px
}
.nav li {
  padding: 0;
  list-style: none;
  display: inline-block;
}
.nav a {
  text-decoration: none;
  color: #999;
  padding: 18px; transition: background 0.9s ease 0s;
}
.nav a:hover {
  color: #fc3e00;
  background-color: #fff; transition-duration:.9s;
  border-radius: 2px

}
.nav .current a {
  background: #d03603;
  color: #fff;
  border-radius: 3px;
}
/* right nav */
.nav.right ul {
  text-align: right;
}

/* center nav */
.nav.center ul {
  text-align: center;}
@media screen and (max-width: 600px) {
  .nav {
    position: relative;
    min-height: 40px;
  } 
  .nav ul {
    width: 100%;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #aaa;
    background: #fff url(images/icon-menu.png) no-repeat 10px 11px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
  }
  .nav li {
    display: none; /* hide all <li> items */
    margin: 0;
  }
  .nav .current {
    display: block; /* show only current <li> item */
  }
  .nav a {
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: left;
  }
  .nav .current a {
    background: none;
    color: #666;
  }

  /* on nav hover */
  .nav ul:hover {
    background-image: none;
  }
  .nav ul:hover li {
    display: block;
    margin: 0 0 5px;
  }
  .nav ul:hover .current {
    background: url(images/icon-check.png) no-repeat 10px 7px;
  }

  /* right nav */
  .nav.right ul {
    left: auto;
    right: 0;
  }

  /* center nav */
  .nav.center ul {
    left: 50%;
    margin-left: -90px;
  }
  
}
    
    footer ul li a{
color:#fff!important;
}

footer a:hover{
color:#fc3e00!important;
}


