{% extends "admin/base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}{{ title }} | {% trans 'Realestate Admin' %}{% endblock %}

{% block branding %}
    <link href="{% static 'favicon.ico' %}"  rel="icon">
    <style type="text/css">
        #header {
            /* your style here */
        }
    </style>
    <h1 id="site-name">{% trans 'Realestate Admin' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

