{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container" dir="rtl">

        {% for pattern_type_stage in pattern_type_stages %}
            <div class="realties row" dir="rtl">
                <h4 style="color: #d7267c">{{ pattern_type_stage.name }}</h4>

                <p>{{ pattern_type_stage.description }}</p>

                <div class="row" style="padding:50px;">
                    {% for pattern in pattern_type_stage.pattern_set.all %}
                        <div class="col-md-3" style="background:#fff; margin-right:10px;  border: solid;">
                            <a href="/patterns/view_pattern/{{ pattern.id }}">
                                <img src="/media/{{ pattern.image }}" style="width:200px;"><br><br>
                                <span>{{ pattern.name }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}