{% extends 'layouts/base.html' %}
{% load static from staticfiles %}
{% load template_blocks %}
{% load slider_extras %}
{% load range %}
{% block content %}
    <div class="container">
    <div class="col-md-8">
        {% for type in types %}
            <a href="/maps/view_maptype/{{ type.id }}" style="text-decoration:none;">
                <h3 style="text-align:center;">{{ type.name }}</h3>
            </a>
            <br>
            <div class="panel-group" id="accordion">
                {% for stage in type.maptypestage_set.all %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse{{ stage.pk }}">
                                    {{ stage.name }}</a>
                            </h4>
                        </div>
                        {% if forloop.first %}
                            <div id="collapse{{ stage.pk }}" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        {% for map in stage.map_set.all %}
                                            <div class="col-md-6">
                                                {% if map.photo.image %}
                                                    <img src="{% resize map.photo.id 300 295 %}"
                                                         style=" border-radius: 10px;padding:4px;">
                                                    <h5 style="text-align:center;">{{ map.name }}</h5>
                                                {% else %}
                                                    <img src="/static/imgs/norealimage.jpg">
                                                    <h5 style="text-align:center;">{{ map.name }}</h5>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div id="collapse{{ stage.pk }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                        {% for map in stage.map_set.all %}
                                            <div class="col-md-6">
                                                {% if map.photo.image %}
                                                    <img src="{% resize map.photo.id 300 290 %}"
                                                         style="padding: 4px">
                                                    {{ map.name }}
                                                {% else %}
                                                    <img src="/static/imgs/norealimage.jpg">
                                                    {{ map.name }}
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <hr>
            </div>
        {% endfor %}
        <div class="row">
            <div class="pagenaition">
                {% if types.has_previous %}
                    <a href="?page={{ types.previous_page_number }}" class="start">السابق</a>
                {% endif %}

                {% for i in types.paginator.num_pages|range %}
                    <span>
        {% if types.number == i %}
            <a href="?page={{ i }}" class="num-page active"
               style="">{{ i }}</a>
        {% else %}
            <a href="?page={{ i }}" class="num-page">{{ i }}</a>
        {% endif %}
      </span>&nbsp;
                {% endfor %}


                {% if types.has_next %}
                    <a href="?page={{ types.next_page_number }}" class="end">التالي</a>
                {% endif %}
                <br>
    <span class="step-links">
        <span class="current" style="float:left; color:white;">
            الصفحة {{ types.number }} من {{ types.paginator.num_pages }}
        </span>
        <br>
    </span>
            </div>
            <!-- pajenaition -->
        </div>
    </div>
    <div class="col-md-4">
        <br><br>
        <!-- <div class="maps-all" style="border:1px solid #cccccc;">
                <p class="search-project-title">
                    <span style=" background-color:#d03603;">
                        <span class="cerve"></span>
                        <img width="18px" src="{% static 'imgs/visited.png' %}">
                        <span class="num_visited" style="background-color: #d03603">اقسام الموقع</span>
                    </span>
                </p>

                <div class="maps-rahab">
                    <p class="map-title-text" style="padding:10px;line-height: 33px">
                        <img src="{% static 'imgs/932.png' %}" width="5px" style="transform:rotate(180deg)">
                        <a href="*"style="color:#565656;">العقارات</a> <br/>
                        <img src="{% static 'imgs/932.png' %}" width="5px" style="transform:rotate(180deg)"><a href="*"style="color:#565656;">الخرائط</a> <br/>
                        <img src="{% static 'imgs/932.png' %}" width="5px" style="transform:rotate(180deg)"><a href="*"style="color:#565656;">النماذج</a> <br/>
                        <img src="{% static 'imgs/932.png' %}" width="5px" style="transform:rotate(180deg)"><a href="*"style="color:#565656;">اتصل بنا</a> <br/>
                    </p>
                </div>

            </div> -->

        {% view "realties.views.search_view" %}

        <br/>

        <div class="advirisment" style="border:1px solid #d4d3d3;">
            <p class="search-project-title">
                    <span style="background-color:#d03603;">
                       <!--  <img src="{% static 'imgs/tr.jpg' %}"
                             style="position: relative; left: -182px; top: -2px; width: 40.5px"> -->
                        <span class="cerve"></span>
                        <img src="{% static 'imgs/magnifying.png' %}" width="18px">
                        <span class="num_visited" style="background-color: #d03603">اعلان</span>
                   </span>
            </p>


            <img src="{% static 'imgs/coca.jpg' %}" width="100%" height="400px">
        </div>
        <!-- col-md-4 -->
    </div>

{% endblock %}
