{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {% for map in maps %}
                    <div class="col-sm-5" dir="rtl">
                        <p>الخريطه :<a href="{% url 'show_map' map.id %}">{{ map.name }}</a></p>

                        <p> النوع : {{ map.typee.name }}</p>

                        <p> المرحله : {{ map.stage.name }}</p>
                    </div>
                    <div class="col-sm3" dir="rtl">
                        <img src="/media/{{ map.image }}">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}