{% extends 'layouts/base.html' %}
{% load static from staticfiles %}
{% load template_blocks %}
{% load slider_extras %}
{% block content %}
<div class="container" dir="rtl" style="width: 100%; position: relative; right: -2px">
    <div class="col-md-8">
        <div class="col-md-6">
        	{% if map.photo.image %}
                <img src="{% resize map.photo.id 300 295 %}" 
                style=" border-radius: 10px;padding:4px;" class="img-responsive">
            {% else%}
                <img src="/static/imgs/norealimage.jpg"class="img-responsive">
            {% endif %}
            <br/><br/><br/>
        </div>
        <div class="col-md-6">
            <table class="ui fixed single line celled table buyinvoice">
                    <tbody>
                            <tr>
                                <td style="text-align:center; font-weight:bold; background:#F6F4F2;">
                                أسم الخريطة</td>
                                <td style="text-align:center;">{{ map.name }}</td>
                            </tr>
                            <tr>
                                <td style="text-align:center; font-weight:bold; background:#F6F4F2;">النوع</td>
                                <td style="text-align:center;">
                                    {{ map.stage.typee.name }}
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center; font-weight:bold; background:#F6F4F2;">المرحلة</td>
                                <td style="text-align:center;">{{ map.stage.name }}</td>
                            </tr>
                    </tbody>
                </table>
        </div>
        <div class="advertising">
            <img width="93%" height="65%" src="{% static 'imgs/ad1.jpg' %}" style="position: relative; right: 23px">
        </div><!-- advertising -->
    </div>
    <div class="col-md-4">
        
    </div>
</div> <!-- end container -->
{% endblock %}

