{% extends 'layouts/base.html' %}
{% load static from staticfiles %}
{% load template_blocks %}
{% load slider_extras %}
{% block content %}
<style type="text/css">
	div.active{
		background: #fff !important;
	}
	li.active a{
		background: #fff !important;
		border-bottom: 2px solid #FC3E00 !important;
		color: #FC3E00 !important;
	}
</style>

<div class="container" dir="rtl" style="width: 100%; position: relative; right: -2px">
	<div class="row">
		<div class="col-md-8">
			<div class="img-map" style="border:1px solid silver;" >
				<p class="search-project-title">
					<span style="background-color:#d03603;">
					<!-- <img src="{% static 'imgs/tr.jpg' %}" style="position: relative; left: -254px; top: -2.0px; width: 41.0px"> -->
						<span class="cerve"></span>
						<img width="18px" src="{% static 'imgs/map.png' %}">
						<span class="num_visited" style="background-color: #d03603">{{maptype.name}}</span>
					</span>
				</p>
				  <ul class="list-unstyled list-inline">
				  	{% for stage in maptype.maptypestage_set.all %}
				  		{% if forloop.counter == 1 %}
				  			<li class="active">
				  				<a data-toggle="tab" href="#tab-pane{{stage.pk}}">{{stage.name}}</a>
				  			</li>
				  		{% else %}
				  			<li>
				  				<a data-toggle="tab" href="#tab-pane{{stage.pk}}">{{stage.name}}</a>
				  			</li>
				  		{% endif %}
				  	{% endfor %}
				  </ul>
				  <div class="tab-content">
				    {% for stage in maptype.maptypestage_set.all %}
			  			<div id="tab-pane{{stage.pk}}" class="tab-pane fade in
			  				{% if forloop.counter == 1 %}active{% endif %}">
			  				 {% for map in stage.map_set.all %}
			  				 	<div class="col-md-4 pull-right">
				  				 	{% if map.photo.image %}
			                            <img src="{% resize map.photo.id 250 195 %}" 
			                            style=" border-radius: 10px;padding:8px;" class="pop imageresource" 
			                            data-target="#imagemodal" data-toggle="modal">
			                        {% else%}
			                            <img src="/static/imgs/norealimage.jpg" width="200" height="205"
			                            style=" border-radius: 10px;padding:8px;">
			                        {% endif %}
			                        <center>
			                        	<a href="/maps/show/{{map.pk}}">
				  				 			<h5 style="margin-left:38px;">{{map.name}}</h5>
				  				 		</a>
				  				 	</center>
			  				 	</div>
			  				 {% endfor %}
					    </div>				  		
				  	{% endfor %}
				</div>
			</div><!-- img-map -->
		</div> <!-- col-md-8 -->

		<div class="col-md-4">

			<div class="maps-all" style="border:1px solid #cccccc;">
				<p class="search-project-title">
					<span style="background-color:#d03603;">
						<!-- <img src="{% static 'imgs/tr.jpg' %}" style="position: relative; left: -182px; top: -2px; width: 40.5px"> -->
						<span class="cerve"></span>
						<img width="18px" src="{% static 'imgs/map.png' %}">
						<span class="num_visited" style="background-color: #d03603">الخرائط</span>
					</span>
				</p>
				<div class="maps-rahab">
					{% for maptype in allmaptypes %}
						<div style="padding:10px;">
							<a href="/maps/view_maptype/{{maptype.pk}}"
							style="color:rgba(0, 0, 0, 0.87); font-size:16px;">
							{{maptype.name}}</a>
						</div>
					{% endfor %}
				</div>
			</div><!-- maps-all -->

			<br/>
			<div class="advirisment" style="border:1px solid #d4d3d3;">
			    <p class="search-project-title">
			    <span style="background-color:#d03603;">
			       <!--  <img src="{% static 'imgs/tr.jpg' %}"
			             style="position: relative; left: -182px; top: -2px; width: 40.5px"> -->
			        <span class="cerve"></span>
			        <img src="{% static 'imgs/magnifying.png' %}" width="18px">
			        <span class="num_visited" style="background-color: #d03603">اعلان</span>
			   </span>
			    </p>


			    <img src="{% static 'imgs/adver2.jpg' %}" width="100%" height="450px">

			</div>
		</div> <!-- col-md-4 -->
	</div><!-- row -->

	<br/>

	<!-- image modal -->
	<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">ألغاء</span></button>
	        <h4 class="modal-title" id="myModalLabel">عرض الصورة</h4>
	      </div>
	      <div class="modal-body">
	        <img src="" id="imagepreview" style="width: 100%; height: 100%" >
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">ألغاء</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- image modal -->
	
</div> <!-- end container -->
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(".pop").on("click", function() {
           $('#imagepreview').attr('src', $('.imageresource').attr('src')); // here asign the image to the modal when the user click the enlarge link
           $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
        });
</script>
{% endblock %}