{% extends 'layouts/base.html' %}
{% load range static %}
{% load slider_extras %}
{% load remove_dots %}
{% load range %}
{% block content %}
<div class="container" dir="rtl" style="width:92%!important;">

<div class="col-md-12">
        	<div class="row" id="row-search">
                <p class="search-project-title" style="background-color: #d03603;">
                    <span style="background:none;">تم العثور علي عدد ({{ patterns|length }}) بحث</span>
                </p>
                <br>

                <div class="row" style="padding-bottom:10px;" id="patterns">
                    {% for pattern in patterns %}
                        <div class="col-md-4">
                            <div class="title">
                                <div class="wrapper">
                                    <a href="/patterns/view_pattern/{{ pattern.id }}">
                                        {% if pattern.photo.image %}
                                            <img src="{% resize pattern.photo.id 1200 545 %}"
                                                 style=" border-radius: 10px;"></a><br/>
                                        {% else %}
                                            <img src="/static/imgs/norealimage.jpg"></a><br/>
                                        {% endif %}
                                    <a href="/patterns/view_pattern/{{ pattern.id }}">
                                        <div class="content">
                                            <div class="text_area">
                                                <img src="{% static 'imgs/link21.png' %}"
                                                     style="width:15px!important; position:relative; top:70px;">
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <p class="title-pic-text">
                                    <a href="/patterns/view_pattern/{{ pattern.id }}" style="color:#404040;">
                                        {{ pattern.name|truncatewords:6|remove_dots:"..."|safe }}
                                    </a>
                                </p>

                                <p>
                                    <span style="color:#fc3e00;">
                                        <img src="{% static 'imgs/clock.png' %}" width="20px">
                                        نوفمبر 2015
                                    </span>
                                </p>
                                <span class="pull-left">
                                        {{ pattern.typee.name }}
                                </span>

                                <p class="text-pic-text pull-right">
                                    <a href="/patterns/view_pattern/{{ pattern.id }}">المزيد</a>
                                </p><br>

                            </div>
                            <!-- title -->
                        </div><!-- col-md-4 -->
                    {% endfor %}

                </div>
                <div class="row">
                    <div class="pagenaition" style="width: 101%;position: relative;left: 6px;top: 21px;">
                        {% if patterns.has_previous %}
                            <a href="?page={{ patterns.previous_page_number }}" class="start">السابق</a>
                        {% endif %}

                        {% for i in patterns.paginator.num_pages|range %}
                            <span>
                        {% if patterns.number == i %}
                            <a href="?page={{ i }}" class="num-page active"
                               style="">{{ i }}</a>
                        {% else %}
                            <a href="?page={{ i }}" class="num-page">{{ i }}</a>
                        {% endif %}
                      </span>&nbsp;
                                        {% endfor %}


                                        {% if patterns.has_next %}
                                            <a href="?page={{ patterns.next_page_number }}" class="end">التالي</a>
                                        {% endif %}
                                        <br>
                    <span class="step-links">
                        <span class="current" style="float:left; color:white;">
                            الصفحة {{ patterns.number }} من {{ patterns.paginator.num_pages }}
                        </span>
                        <br>
                    </span>
                                    </div>
                                    <!-- pajenaition -->
                </div>
        </div>
    </div>
</div>


{% endblock %}

