{% extends 'layouts/base.html' %}
{% load static from staticfiles %}
{% load priceFilter %}
{% load remove_dots %}
{% load template_blocks %}
{% load slider_extras %}
{% block style %}
    .glyphicon-star{
    color : gold;
    }

{% endblock %}
{% block content %}

<div class="container" style="width: 95%; position: relative; right: -2px">
    <div class="row">
        <div class="col-md-4 pull-right">
                {% view "realties.views.search_view" %}
        </div>

        <div class="col-md-8" style="border:1px solid #ccc;border-radius:6px;padding:8px;">
            <div class="row">
                <div class="col-md-6" style="float: right;">
                        {% if realty.photo.image %}
                            
                            <img src="{% resize realty.photo.id 270 245 %}" 
                            width="100%" style="border-radius:10px;">
                        {% else %}
                            <img src="/static/imgs/nisliderimage.jpg" width="100%">
                        {% endif %}
                        <!-- <br> -->
                        <p>
                            {% if realty.description %}
                                <p class="text-pic-text" style="font-size: 15px;color:#475154;">
                                    {{realty.description|truncatewords:50|remove_dots:"..."|safe }}
                                </p>
                            {% endif %}
                        </p><br>

                        <div>
                            <form action="" method="POST">
                                    {% csrf_token %}
                                    <input value="{{rated_value}}" type="hidden" name="value" class="rating rating_input"
                                           data-filled="glyphicon glyphicon-star"
                                           data-empty="glyphicon glyphicon-star-empty"
                                           />
                                    <input type="hidden" name="realty" value="{{ realty.id }}">

                            </form>
                            <span id="updating_rate" style="color: #9cd7a7;font-size: large;display: inline">
                                {{ realty.get_rate }}
                                <span class="label label-primary">{{ realty.avearage_rate }}</span>
                            </span>
                        </div>
                </div>

                <div class="col-md-6 pull-right">
                    <table class="ui fixed single line celled table buyinvoice">
                        <tbody>
                                <tr>
                                    <td style="text-align:center; font-weight:bold; background:#F6F4F2;"
                                    colspan="2">
                                        <a href="/realties/show/{{realty.pk}}">
                                            {{ realty.title|truncatewords:8|remove_dots:"..."|safe }}
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center; font-weight:bold; background:#F6F4F2;">كود</td>
                                    <td style="text-align:center;">
                                        <b style="color:#FC3E00;">{{ realty.code }}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center; font-weight:bold; background:#F6F4F2;">النموذج</td>
                                    <td style="text-align:center;">{{ realty.pattern.name }}</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center; font-weight:bold; background:#F6F4F2;">الحاله</td>
                                    <td style="text-align:center;">
                                        {% if realty.status == 1 %}
                                            مستلمة
                                        {% else %}
                                            غير مستلم
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center; font-weight:bold; background:#F6F4F2;">الطابق</td>
                                    <td style="text-align:center;">
                                        {{ realty.floor.name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center; font-weight:bold; background:#F6F4F2;">المدينه</td>
                                    <td style="text-align:center;">
                                        {{ realty.city.name }}
                                    </td>
                                </tr>
                                 <tr>
                                    <td style="text-align:center; font-weight:bold; background:#F6F4F2;">عدد الغرف</td>
                                    <td style="text-align:center;">
                                        {{ realty.rooms_count }}
                                    </td>
                                </tr>
                                 <tr>
                                    <td style="text-align:center; font-weight:bold; background:#F6F4F2;">مساحة الحديقه</td>
                                    <td style="text-align:center;">
                                        {{ realty.garden_size }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center; font-weight:bold; background:#F6F4F2;">التشطيب</td>
                                    <td style="text-align:center;">
                                        {% if realty.Finishing == False %} لا {% else %} نعم {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center; font-weight:bold; background:#F6F4F2;">الغرض</td>
                                    <td style="text-align:center;">
                                        {% if realty.purpose == 1 %}
                                            بيع
                                        {% else %}
                                            ايجار
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center; font-weight:bold; background:#F6F4F2;">المبلغ</td>
                                    <td style="text-align:center;">
                                        {{ realty.price|amountFilter }}
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <br><br>

        <p class="search-project-title" style="border-top: 1px solid silver;
            border-left: 1px solid silver;">
                <span style="background-color:#d03603;">
                    <!-- <img src="{% static 'imgs/tr.jpg' %}" style="position: relative; left: -189px; top: -2px; width: 40.6px"> -->
                    <span class="cerve"></span>
                        <img width="18px" src="{% static 'imgs/visited.png' %}">
                    <span class="num_visited" style="background-color: #d03603; padding: 9px">عقارات ذات صله</span>
                </span>

        </p>

        <div class="row" id="row-veiw">

            {% for r in relatedrealties %}
                <div class="col-md-3 pull-right">
                    <div class="title">
                        <a href="/realties/show/{{ r.id }}">
                            {% if r.photo.image %}
                                <img src="{% resize r.photo.id 280 285 %}" style=" border-radius: 10px;" 
                                width="100%">
                            {% else %}
                                <img src="/static/imgs/norealimage.jpg" width="100%">
                            {% endif %}
                        </a>
                        <br/>
                        <span class="code-text-with-pic">كود :{{ r.code }}</span>

                        <p class="title-pic-text">
                            <a href="/realties/show/{{ r.id }}" style="color:#404040;">
                            {{ r.title|truncatewords:6|remove_dots:"..."|safe  }}</a>
                        </p>

                        <p>
                            <span style="color:#fc3e00;">
                                <img src="{% static 'imgs/clock.png' %}" width="20px">
                                نوفمبر 2015
                            </span>
                            <span class="pull-left">
                                {{ r.price|amountFilter }}  <b style='font-size:16px;'>ج</b>
                            </span>
                        </p>

                        <p class="text-pic-text">
                            <a href="/realties/show/{{ r.id }}">المزيد</a>
                        </p>

                    </div>
                </div><!-- col-md-3 -->
            {% endfor %}

        </div>

        <br>

        <div class="advertising">
            <img width="98%" height="147px" src="{% static 'imgs/ad1.jpg' %}" style="position: relative; right: 46px">
        </div>
        <br/>
</div>



{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.rating_input').change(function (e) {
                var form = $(this).parents('form:first');
                $.ajax({
                type: 'POST',
                url: "{% url 'rate_realty' %}",
                data: {
                    "value": form.find("input[name='value']").val(),
                    "realty": form.find("input[name='realty']").val(),
                    "csrfmiddlewaretoken": "{{ csrf_token }}"
                },
                success: function (data) {
                    $('#updating_rate').get(0).innerHTML = data.data ;
                    $(this).val(data.data);
                },
                error: function () {
                    alert('Someting went wrong ! please try again later')
                }
            });
            });
        });
    </script>
{% endblock %}