{% extends 'layouts/base.html' %}
{% load static from staticfiles %}
{% load template_blocks %}
{% load slider_extras %}
{% load priceFilter %}
{% load remove_dots %}
{% load range %}
{% block style %}
    .glyphicon-star{
        color : gold;
    }
    #search_submit{
        position: relative;
        right: 11px!important;
        border:1px solid #fff;
      transition: border 0.9s ease 0s;

    }

{% endblock %}
{% block content %}

    <div class="container" dir="rtl" style="width: 100%; position: relative; right: -2px">

        <div class="col-md-8">
            <!-- slides begin -->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="width:100%;">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                {% for slide in sliders %}
                    {% if forloop.first %}
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    {% else %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{forloop.count}}"></li>
                    {% endif %}
                {% endfor %}
              </ol>

              <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% if sliders %}
                        {% for slide in sliders %}
                            {% if forloop.first %}
                            <div class="item active" style="background-color:#fff !important;">
                                {% if slide.photo.image %}
                                    <img src="{% resize slide.photo.id 1200 545 %}">
                                {% else %}
                                    <img src="/static/imgs/nisliderimage.jpg" width="100%" height="100%">
                                {% endif %}
                                <div style="background-color:#000; opacity:1; width:100%; position:relative; right:-1px; top: -1px;" class="carousel-caption">
                                    <span style="float:right;margin-right: 10px;" class="title-pic">
                                    {{ slide.title|truncatewords:10|remove_dots:"..."|safe }}</span><br>
                                        <span style="color:#fc3e00; float:right;margin-right: 10px;">
                                            <img width="17px" data-default="{% static 'imgs/clock.png' %}" 
                                            src="{% static 'imgs/clock.png' %}">
                                            {{ slide.created }}
                                        </span>
                                        <!-- <span class="pull-left add-compare"><a style="color:#fff;" href="#">
                                        اضف للمقارنه</a></span> --><br>
                                        <span style="float:right;margin-right: 10px;" class="text-pic">
                                        {{ slide.description|truncatewords:25|remove_dots:"..."|safe }}
                                        </span>
                                </div>
                            </div>
                            {% else %}
                            <div class="item" style="background-color:#fff !important;">
                                {% if slide.photo.image %}
                                    <img src="{% resize slide.photo.id 1200 545 %}">
                                {% else %}
                                    <img src="/static/imgs/nisliderimage.jpg" width="100%" height="100%">
                                {% endif %}
                                <div style="background-color:#000; opacity:1; width:100%; position:relative; right:-1px; top: -1px" class="carousel-caption">
                                    <span style="float:right;margin-right: 10px;" class="title-pic">
                                    {{ slide.title|truncatewords:10|remove_dots:"..."|safe }}</span><br>
                                        <span style="color:#fc3e00; float:right;margin-right: 10px;">
                                            <img width="17px" data-default="{% static 'imgs/clock.png' %}" 
                                            src="{% static 'imgs/clock.png' %}">
                                            {{ slide.created }}
                                        </span>
                                        <!-- <span class="pull-left add-compare"><a style="color:#fff;" href="#">اضف للمقارنه</a></span> --><br>
                                        <span style="float:right;margin-right: 10px;" class="text-pic">{{ slide.description|truncatewords:25|remove_dots:"..."|safe }}
                                        </span>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    <!-- if no sliders active -->
                    {% else %}
                        <div class="item active" style="background-color:#fff !important;">
                                <img src="/static/imgs/nisliderimage.jpg" width="100%" height="100%">
                            </div>
                    {% endif %}
                </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div> <!-- slider -->
            <!-- slides end -->
            <br/><br>


            <!-- ############################################ -->

    <div class="row">
        <div class="search-project">
                <p class="search-project-title">
                  <span style="background-color:#d03603;">
                        <!-- <img src="{% static 'imgs/tr.jpg' %}" style="position: relative; left: -208px; top: -1px; width: 42.5px"> -->
                        <span class="cerve"></span>
                        <img width="18px" src="{% static 'imgs/search.png' %}">
                        <span class="num_visited" style="background-color: #d03603">بحث عن عقار</span>
                   </span>
                    </p>


            <div class="row">
                <form method="POST" action="#realties">
                    {% csrf_token %}
                    <div class="search-all">
                            <div class="col-md-2 pull-right">
                                <select style="width:99%; padding:5px 20px;" name="type">
                                  <option value="">كل الأنواع</option>
                                    {% for type in types %}
                                        <option value="{{ type.name }}">{{ type.name }}</option>
                                    {% endfor %}    
                                </select>
                            </div>
                            <div class="col-md-3 pull-right">
                                <select style="width:99%; padding:5px 20px;" name="status">
                                  <option value="">جميع الاغراض</option>
                                  <option value="1">بيع</option>
                                  <option value="2">ايجار </option>
                                </select>
                            </div>
                            <div class="col-md-2 pull-right">
                                <select style="width:99%; padding:5px 20px;" name="city">
                                  <option value="">كافة المدن</option>
                                  {% for city in cities %}
                                    <option value="{{ city.name }}">{{ city.name }}</option>
                                  {% endfor %}
                                </select>
                            </div><!-- col-md-3 -->
                            <div class="col-md-2 pull-right">
                                <select style="width:99%; padding:5px 20px;color:#000;" name="arrange">
                                    <option value="0" selected>ترتيب</option>
                                    <option value="1">التاريخ</option>
                                    <option value="2">السعر</option>
                                </select>
                            </div>
                            <div class="col-md-2 pull-right">
                                <input class = "pull-left reset" style = "color: #fc3e00; padding:6px 18px; position:relative; top:0px;" type="submit" value="بحث">
                            </div>
                            <div class="col-md-1">
                                <a class = "pull-left reset" style = "color: #fc3e00; padding:4px 12px; position:relative; top:-1px; right:-29px;"
                                href="/">الكل</a>
                            </div>
                        </div>
                </form>
            </div>
                    <!-- end child row-->
        </div>
                <!-- search-project -->
    </div>
            <!-- row -->

            <!-- ########################################################## -->

            <br/>
            <!--  search-project -->


            <div class="row" id="row-search">
                <p class="search-project-title" style="background-color: #d03603;">
                    <span style="background:none;">تم العثور علي عدد ({{ realtiesss|length }}) بحث</span>
                        <button class = "pull-left reset2" type="button" data-toggle="modal" 
                        data-target="#myModal" style="position: relative;top:-6px; font-size:15px;" 
                        onclick="displayComparison()">
                        عرض المقارنة</button>
                    <!-- </div> -->
                </p>
                <div class="row" style="padding-bottom:10px;" id="realties">
                    {% for realty in realtiesss %}
                        <div class="col-md-4 pull-right">
                            <div class="title">
                                <div class="wrapper">
                                    <a href="/realties/show/{{ realty.id }}">
                                        {% if realty.photo.image %}
                                            <img src="{% resize realty.photo.id 1200 545 %}" 
                                            style=" border-radius: 10px;"></a><br/>
                                        {% else %}
                                            <img src="/static/imgs/norealimage.jpg"></a><br/>
                                        {% endif %}
                                    <a href="/realties/show/{{ realty.id }}">
                                        <div class="content">
                                            <div class="text_area">
                                                <img src="{% static 'imgs/link21.png' %}"
                                                     style="width:15px!important; position:relative; top:70px;">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <span class="code-text-with-pic">كود :{{ realty.code }}</span>

                                <p class="title-pic-text">
                                    <a href="/realties/show/{{ realty.id }}" style="color:#404040;">
                                        {{ realty.title|truncatewords:6|remove_dots:"..."|safe }}
                                    </a>
                                </p>

                                <p>
                                    <!-- begin of rating form it submitted when the value of rating change -->

{#                                <form action="{% url 'rate_realty' %}" method="POST">#}
{#                                    {% csrf_token %}#}
{#                                    <input type="hidden" name="value" class="rating rating_input"#}
{#                                           data-filled="glyphicon glyphicon-star"#}
{#                                           data-empty="glyphicon glyphicon-star-empty"#}
{#                                           value="0"/>#}
{#                                    <input type="hidden" name="realty" value="{{ realty.id }}">#}
{##}
{#                                </form>#}
                                <!-- end of rating form -->
                                </p>
                                <p>
                                        <span style="color:#fc3e00;">
                                            <img src="{% static 'imgs/clock.png' %}" width="20px">
                                            نوفمبر 2015
                                        </span>
                                        <span class="pull-left">
                                            {{ realty.price|amountFilter }}  <b style='font-size:16px;'>ج</b>
                                        </span>
                                </p>
                                <span class="pull-left">
                                        <button class="compare-btn addList add_compare"
                                        onclick="pushToList({{realty.pk}});">اضف للمقارنه</button>

                                        <button class="compare-btn removeL add_compare"
                                        onclick="removeFromList({{realty.pk}});">حذف للمقارنه</button>
                                </span>
                                <!-- <p class="text-pic-text pull-right"> -->
                                    {# realty.description|truncatewords:7|remove_dots:"..."|safe #}
                                <!-- </p> -->

                                <p class="text-pic-text pull-right">
                                    <a href="/realties/show/{{ realty.id }}">المزيد</a>
                                </p>

                            </div>
                            <!-- title -->
                        </div><!-- col-md-4 -->
                    {% endfor %}
                </div>
                <!-- row -->


                <div class="pagenaition">
                    {% if realtiesss.has_previous %}
                        <a href="?page={{ realtiesss.previous_page_number }}" class="start">السابق</a>
                    {% endif %}

                    {% for i in realtiesss.paginator.num_pages|range %}
                        <span>
                    {% if realtiesss.number == i %}
                        <a href="?page={{ i }}" class="num-page active"
                           style="">{{ i }}</a>
                    {% else %}
                        <a href="?page={{ i }}" class="num-page">{{ i }}</a>
                    {% endif %}
                  </span>&nbsp;
                                {% endfor %}


                                {% if realtiesss.has_next %}
                                    <a href="?page={{ realtiesss.next_page_number }}" class="end">التالي</a>
                                {% endif %}
                                <br>
                    <span class="step-links">
                        <span class="current" style="float:left; color:white;">
                            الصفحة {{ realtiesss.number }} من {{ realtiesss.paginator.num_pages }}
                        </span>
                        <br>
                    </span>
                </div>
                <!-- pajenaition -->
            </div>
            <!-- row -->
        </div>
        <!-- col-md-8 slider -->

        <!-- ##################################################################### -->

        <!-- right side -->
        <div class="col-md-4">
        
            <!-- advanced search -->
            {% view "realties.views.search_view" %}
            <!-- end advanced search -->

            <br/>
            <br/>
            <br/>
            



            <div class="statics row" style="margin-top: -54px;">
                {% for city in statistic_cities %}
                    <div class="col-md-6" style="position:relative; top:40px;">
                        {% if forloop.first %}
                            <center id="tab1_click" class="pull-right statistics-rahab">
                            احصائيات ({{ city.name }})
                            </center>
                        {% elif forloop.last %}
                            <center id="tab2_click" class="pull-right statistics-rahab">
                            احصائيات ({{ city.name }})
                            </center>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <!-- statics -->

            <br/><br/>

            {% for city in statistic_cities %}
                {% if forloop.first %}
                    <div class="text-statics-rahab" id="tab1">
                        <p>
                            <div class="circle"></div>
                            <span class="project-adress">عقارات للبيع ب ({{ city.name }})</span>
                            <span class="pull-left project-num">{{ city.sale_realties_count }}</span>
                        </p>

                        <p>
                            <div class="circle"></div>
                            <span class="project-adress">عقارات للإيجار ب ({{ city.name }})</span>
                            <span class="pull-left project-num">{{ city.rent_realties_count }}</span>
                        </p>

                    </div><!-- text-statics-rahab -->
                {% elif forloop.last %}

                    <!-- start madenty -->
                    <div class="text-statics-rahab" style="display:none;" id="tab2">
                        <p>

                        <div class="circle"></div>
                        <span class="project-adress">عقارات للبيع ب ({{ city.name }})</span>
                        <span class="pull-left project-num">{{ city.sale_realties_count }}</span>
                        </p>
                        <p>

                        <div class="circle"></div>
                        <span class="project-adress">عقارات للإيجار ب ({{ city.name }})</span>
                        <span class="pull-left project-num">{{ city.rent_realties_count }}</span>
                        </p>
                    </div><!-- text-statics-rahab -->
                {% endif %}
            {% endfor %}
            <br><br>
            
            <div class="advirisment" style="border:1px solid #d4d3d3;">
                <p class="search-project-title">
                <span style="background-color:#d03603;">
                   <!--  <img src="{% static 'imgs/tr.jpg' %}"
                         style="position: relative; left: -182px; top: -2px; width: 40.5px"> -->
                    <span class="cerve"></span>
                    <img src="{% static 'imgs/magnifying.png' %}" width="18px">
                    <span class="num_visited" style="background-color: #d03603">اعلان</span>
               </span>
                </p>


                <img src="{% static 'imgs/adver.jpg' %}" width="100%" height="513px">

            </div>

        </div>
        <!-- col-md-4 -->
        <!-- end right side -->
        <!-- ##################################################################### -->
    </div>




<!-- Modal -->
<div class="modal fade bs-example-modal-lg" 
id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width:90%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">الغاء</button>
      </div>
    </div>
  </div>
</div>

<!-- endmodal -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        // compared_realties = []

        $(document).ready(function () {

            $('.rating_input').change(function (e) {
                var form = $(this).parents('form:first');
                form.submit();
            });

            $("#tab2_click").click(function () {
                $("#tab2").fadeIn(1);
                $("#tab1").fadeOut(0);
            });
            console.log('good bye');
            console.log('hello2');
            $("#tab1_click").click(function () {
                $("#tab1").fadeIn(1);
                $("#tab2").fadeOut(0);
            });
        });

        // push each pk of each realty to session list 
        function pushToList(x) {
            $.ajax({
                url:'/realties/set_compare_params/'+x,
                method: 'GET', 
                 
            }).done(function (resp){
                // alert(resp);
                // $('.modal-body').append(resp);
            });

        }
        
        // remove pk of each realty to session list 
        function removeFromList(x) {
            $.ajax({
                url:'/realties/remove_compare_params/'+x,
                method: 'GET', 
                 
            }).done(function (resp){
                // alert(resp);
                // $('.modal-body').append(resp);
            });

        }

        // get comparison from the url passed
        function displayComparison(){
            $('.modal-body').html('');
            $.ajax({
                url:'/realties/realties_compare/',
                method: 'GET',
                 
            }).done(function (resp){
                $('.modal-body').append(resp);
            });
        }
    </script>
{% endblock %}

