<table class="ui fixed single line celled table buyinvoice">
<h2 style="text-align:center;">تقرير مقارانات</h2>
  	<tbody>
            <tr>
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">عرض</td>
            	{% for r in realties %}
            		<td style="text-align:center;">{{r.title}}</td>
            	{% endfor %}
            </tr>
            <tr>	
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">الكود</td>
            	{% for r in realties %}
            		<td style="text-align:center;">{{r.code}}</td>
            	{% endfor %}
            </tr>
            <tr>
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">المدينة</td>
            	{% for r in realties %}
            		<td style="text-align:center;">{{r.city}}</td>
            	{% endfor %}
            </tr>
            <tr>
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">النوع</td>
            	{% for r in realties %}
            		<td style="text-align:center;">{{r.typee}}</td>
            	{% endfor %}
            </tr>
            <tr>
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">المساحه</td>
            	{% for r in realties %}
            		<td style="text-align:center;">{{r.size}}</td>
            	{% endfor %}
            </tr>
            <tr>
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">مساحة الحديقة</td>
            	{% for r in realties %}
            		<td style="text-align:center;">{{r.garden_size}}</td>
            	{% endfor %}
            </tr>
            <tr>
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">عدد الغرف</td>
            	{% for r in realties %}
            		<td style="text-align:center;">{{r.rooms_count}}</td>
            	{% endfor %}
            </tr>
            <tr>
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">عدد الحمامات</td>
            	{% for r in realties %}
            		<td style="text-align:center;">{{r.bathrooms_count}}</td>
            	{% endfor %}
            </tr>
            <tr>
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">تطل علي</td>
            	{% for r in realties %}
            		<td style="text-align:center;">{{r.overlooking}}</td>
            	{% endfor %}
            </tr>
            <tr>
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">الطابق</td>
            	{% for r in realties %}
            		<td style="text-align:center;">{{r.floor}}</td>
            	{% endfor %}
            </tr>
            <tr>
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">الواجهة</td>
            	{% for r in realties %}
            		<td style="text-align:center;">{{r.interface}}</td>
            	{% endfor %}
            </tr>
            <tr>
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">السعر</td>
            	{% for r in realties %}
            		<td style="text-align:center;">{{r.price}}</td>
            	{% endfor %}
            </tr>
            <tr>
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">التشطيب</td>
            	{% for r in realties %}
            		<td style="text-align:center;">
            			{% if r.Finishing == False%}
            				لم يتم التشطيب
            			{% else %}
            				تم التشطيب
            			{% endif %}
            		</td>
            	{% endfor %}
            </tr>
            <tr>
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">التسليم</td>
            	{% for r in realties %}
            		<td style="text-align:center;">
            			{% if r.Received == False%}
            				لم يتم التسليم
            			{% else %}
            				تم التسليم
            			{% endif %}
            		</td>
            	{% endfor %}
            </tr>
            <tr>
            	<td style="text-align:center; font-weight:bold; background:#F6F4F2;">الغرض</td>
            	{% for r in realties %}
            		<td style="text-align:center;">
            			{% if r.purpose == 1%}
            				بيع
            			{% else %}
            				ايجار
            			{% endif %}
            		</td>
            	{% endfor %}
            </tr>
	</tbody>
</table>