{% extends 'layouts/base.html' %}
{% load range static%}
{% load priceFilter %}
{% load slider_extras %}
{% load remove_dots %}
{% block content %}
    <div class="container" dir="rtl">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-9" dir="rtl">
            {% if realties %}
                 <div class="row" style="padding-bottom:10px;">
                {% for realty in realties %}
{#                    <div class="realties row" dir="rtl">#}
{##}
{#                        <div class="col-sm-4">#}
{#                            <img src="/media/{{ item.image }}" width="100%">#}
{#                            <h4 style="color: #d7267c"> {{ item.timestamp }}</h4>#}
{#                        </div>#}
{#                        <div class="col-sm-8" dir="rtl">#}
{#                            <h3><a href="{% url 'show_realty' item.id %}">{{ item.city }} {{ item.typee }}</a></h3>#}
{##}
{#                            <p>المدينه : {{ item.city }}</p>#}
{##}
{#                            <p>النوع : {{ item.typee }}</p>#}
{##}
{#                            <p style="color: blue">الحاله: {{ item.status }}</p>#}
{##}
{#                            <p>تطل على : {{ item.overlooking }}</p>#}
{##}
{#                            <p>عدد الغرف : {{ item.rooms_count }}</p>#}
{##}
{#                            <p>السعر: {{ item.price }}</p>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="col-md-3">
                            <div class="title">
                                <div class="wrapper" >
                                    <a href="/realties/show/{{ realty.id }}">
                                        {% if realty.photo.image %}
                                            <img src="{% resize realty.photo.id 1200 545 %}" 
                                            style=" border-radius: 10px;"></a><br/>
                                        {% else %}
                                            <img src="/static/imgs/norealimage.jpg"></a><br/>
                                        {% endif %}
                                    </a><br/>
                                    <a href="/realties/show/{{ realty.id }}">
                                        <div class="content">
                                            <div class="text_area">
                                                <img src="{% static 'imgs/link21.png' %}"
                                                     style="width:15px!important; position:relative; top:70px;">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <span class="code-text-with-pic">كود :{{ realty.code }}</span>

                                <p class="title-pic-text">
                                    <a href="/realties/show/{{ realty.id }}" style="color:#404040;">
                                        {{ realty.title|truncatewords:6|remove_dots:"..."|safe }}
                                    </a>
                                </p>
                                <p>
                                    <span style="color:#fc3e00;">
                                        <img src="{% static 'imgs/clock.png' %}" width="20px">
                                        نوفمبر 2015
                                    </span>
                                    <span class="pull-left">
                                        {{realty.price|amountFilter}} ج
                                    </span><br/>
                                </p>
                                <p class="text-pic-text pull-right">
                                    <a href="/realties/show/{{ realty.id }}">المزيد</a>
                                </p>

                            </div>
                            <!-- title -->
                        </div><!-- col-md-4 -->
                {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    <p style="text-align:center">لا توجد نتائج بحث</p>
                </div>
            {% endif %}
            <div class="pagenaition">
                {% if realties.has_previous %}
                    <a href="?page={{ realties.previous_page_number }}" class="start">السابق</a>
                {% endif %}

                {% for i in realties.paginator.num_pages|range %}
                    <span>
                    {% if realties.number == i %}
                        <a href="?page={{ i }}" class="num-page active"
                           style="">{{ i }}</a>
                    {% else %}
                        <a href="?page={{ i }}" class="num-page">{{ i }}</a>
                    {% endif %}
                  </span>&nbsp;
                {% endfor %}


                {% if realties.has_next %}
                    <a href="?page={{ realties.next_page_number }}" class="end">التالي</a>
                {% endif %}
                <br>
                <span class="step-links">
                    <span class="current" style="float:left; color:white;">
                        الصفحة {{ realties.number }} من {{ realties.paginator.num_pages }}
                    </span>
                    <br>
                </span>
            </div>
            <!-- pajenaition -->

        </div>
        <div class="col-lg-2">
        </div>
    </div>
{% endblock %}

