{% extends 'layouts/base.html' %}
{% load static from staticfiles %}
{% load range %}
{% load template_blocks %}
{% load slider_extras %}
{% load priceFilter %}
{% load remove_dots %}
{% load range %}
{% block content %}

    <div class="container" dir="rtl" style="width: 100%; position: relative; right: -2px">
        <div class="col-md-1"></div>

        <div class="col-md-10">
            <div class="page-header">
              <h3>{{entry}}</h3>
            </div>
            <div class="row" id="row-search">
                <p class="search-project-title" style="background-color: #d03603;">
                    <span style="background:none;">تم العثور علي عدد ({{ relatedRealties|length }})</span>
                </p>

                <div class="row" style="padding-bottom:10px;">
                    {% for realty in relatedRealties %}
                        <div class="col-md-4">
                            <div class="title">
                                <div class="wrapper">
                                    <a href="/realties/show/{{ realty.id }}">
                                        {% if realty.photo.image %}
                                            <img src="{% resize realty.photo.id 1200 545 %}" 
                                            style=" border-radius: 10px;"></a><br/>
                                        {% else %}
                                            <img src="/static/imgs/norealimage.jpg"></a><br/>
                                        {% endif %}    
                                    </a><br/>
                                    <a href="/realties/show/{{ realty.id }}">
                                        <div class="content">
                                            <div class="text_area">
                                                <img src="{% static 'imgs/link21.png' %}"
                                                     style="width:15px!important; position:relative; top:70px;">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <span class="code-text-with-pic">كود :{{ realty.code }}</span>

                                <p class="title-pic-text">
                                    <a href="/realties/show/{{ realty.id }}" style="color:#404040;">
                                        {{ realty.title|truncatewords:6 }}
                                    </a>
                                </p>

                                <p>
                                    <span style="color:#fc3e00;">
                                        <img src="{% static 'imgs/clock.png' %}" width="20px">
                                        نوفمبر 2015
                                    </span>

                                    <span class="pull-left">
                                        {{realty.price|amountFilter}}
                                    </span><br/>
                                </p>

                                <p class="text-pic-text">
                                    <a href="/realties/show/{{ realty.id }}">المزيد</a>
                                </p>


                            </div>
                            <!-- title -->
                        </div><!-- col-md-4 -->
                    {% endfor %}
                </div>
                <!-- row -->

                

            </div>
        <div class="row">
            <div class="pagenaition">
                {% if relatedRealties.has_previous %}
                    <a href="?page={{ relatedRealties.previous_page_number }}" class="start">السابق</a>
                {% endif %}

                {% for i in relatedRealties.paginator.num_pages|range %}
                    <span>
        {% if relatedRealties.number == i %}
            <a href="?page={{ i }}" class="num-page active"
               style="">{{ i }}</a>
        {% else %}
            <a href="?page={{ i }}" class="num-page">{{ i }}</a>
        {% endif %}
      </span>&nbsp;
                {% endfor %}


                {% if relatedRealties.has_next %}
                    <a href="?page={{ relatedRealties.next_page_number }}" class="end">التالي</a>
                {% endif %}
                <br>
    <span class="step-links">
        <span class="current" style="float:left; color:white;">
            الصفحة {{ relatedRealties.number }} من {{ relatedRealties.paginator.num_pages }}
        </span>
        <br>
    </span>
            </div>
            <!-- pajenaition -->
        </div>
        </div>
        <div class="col-md-1">

        </div>
    </div><br>
{% endblock %}


