{% extends 'layouts/base.html' %}
{% load static from staticfiles %}
{% load priceFilter %}
{% load slider_extras %}
{% load template_blocks %}
{% load remove_dots %}
{% load range %}
{% block content %}

    <div class="col-md-8">
        <div class="row" style="padding:15px;">
            {% for realty in allrealties %}
                <div class="col-md-4">
                    <div class="title">
                        <div class="wrapper">
                            <a href="/realties/show/{{ realty.id }}">
                                {% if realty.photo.image %}
                                    <img src="{% resize realty.photo.id 1200 545 %}"
                                         style=" border-radius: 10px;"><br/>
                                {% else %}
                                    <img src="/static/imgs/norealimage.jpg"><br/>
                                {% endif %}
                            </a><br/>
                            <a href="/realties/show/{{ realty.id }}">
                                <div class="content">
                                    <div class="text_area">
                                        <img src="{% static 'imgs/link21.png' %}"
                                             style="width:15px!important; position:relative; top:70px;">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <span class="code-text-with-pic">كود :{{ realty.code }}</span>

                        <p class="title-pic-text">
                            <a href="/realties/show/{{ realty.id }}" style="color:#404040;">
                                {{ realty.title|truncatewords:6|remove_dots:"..."|safe }}
                            </a>
                        </p>

                        <p>
                                    <span style="color:#fc3e00;">
                                        <img src="{% static 'imgs/clock.png' %}" width="20px">
                                        نوفمبر 2015
                                    </span>

                                    <span class="pull-left">
                                        {{ realty.price|amountFilter }}
                                    </span><br/>
                        </p>

                        <p class="text-pic-text">
                            <a href="/realties/show/{{ realty.id }}">المزيد</a>
                        </p>

                    </div>
                    <!-- title -->
                </div><!-- col-md-4 -->
            {% endfor %}
        </div>
    <div class="row">
    <div class="pagenaition">
        {% if allrealties.has_previous %}
            <a href="?page={{ allrealties.previous_page_number }}" class="start">السابق</a>
        {% endif %}

        {% for i in allrealties.paginator.num_pages|range %}
            <span>
        {% if allrealties.number == i %}
            <a href="?page={{ i }}" class="num-page active"
               style="">{{ i }}</a>
        {% else %}
            <a href="?page={{ i }}" class="num-page">{{ i }}</a>
        {% endif %}
      </span>&nbsp;
        {% endfor %}


        {% if allrealties.has_next %}
            <a href="?page={{ allrealties.next_page_number }}" class="end">التالي</a>
        {% endif %}
        <br>
    <span class="step-links">
        <span class="current" style="float:left; color:white;">
            الصفحة {{ allrealties.number }} من {{ allrealties.paginator.num_pages }}
        </span>
        <br>
    </span>
    </div>
    <!-- pajenaition -->
</div>
    </div>

    <div class="col-md-4">
        {% view "realties.views.search_view" %}
        <br><br><br>

        <div class="advirisment" style="border:1px solid #d4d3d3;">
            <p class="search-project-title">
        <span style="background-color:#d03603;">
           <!--  <img src="{% static 'imgs/tr.jpg' %}"
                 style="position: relative; left: -182px; top: -2px; width: 40.5px"> -->
            <span class="cerve"></span>
            <img src="{% static 'imgs/magnifying.png' %}" width="18px">
            <span class="num_visited" style="background-color: #d03603">اعلان</span>
       </span>
            </p>


            <img src="{% static 'imgs/adver.jpg' %}" width="100%" height="513px">

        </div>
    </div>

{% endblock %}
